body {
    background-color: sandybrown;
    color: #3e1d17;
}

/* Main Page styles*/

#main-title {
    color: maroon;

    font-size: 50px;
    text-align: center;
}

#cover-img {
    height: auto;
    width: 90%;

    display: block;
    margin: auto;

    border:12px double maroon;
}

#menu {
    width: 90%;

    display: block;
    margin: 20px auto;

    border: 4px solid maroon;
    padding: 8px 8px 24px;
}

#menu-header {
    color: maroon;

    font-size: 36px;
    text-align: center;
}

#prelude,
#on-the-menu p {
    font-size: 26px;
    text-align: center;
}

#prelude {
    margin-top: -20px
}

#on-the-menu p {
    text-align: center;

    border-top:2px solid; 
    padding: 18px 0px;
    margin: auto;
}

#on-the-menu p:last-child {
    border-bottom:2px solid;
}

#on-the-menu p:hover {
    background-color: chocolate;
}

p a {
    color: #3e1d17;
}

/*Recipe Page styles*/

.recipe-title {
    color: maroon;

    text-align: center;
}

img {
    height: auto;
    width: 90%;

    display: block;
    margin: auto;

    border:12px double maroon;
}

h3 {
    color: maroon;
    font-size: 26px;
    border-bottom:2px solid maroon;
}